APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:weAJNDqGPog/yC74uzNlJ+m8dnWdt5HIB0feqcg6o9U=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=aws-1-ap-south-1.pooler.supabase.com
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres.vumjsakbdtnvwfnwwmdn
DB_PASSWORD=dive3dTIJ24

BROADCAST_CONNECTION=log
CACHE_STORE=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

SUPABASE_URL=https://vumjsakbdtnvwfnwwmdn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1bWpzYWtiZHRudndmbnd3bWRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQwNjY4OSwiZXhwIjoyMDg4OTgyNjg5fQ.XAdjK9HTWqCTztRW2wAJ4zJgmxUzG_Gn8IOE2Frjx9g
SUPABASE_BUCKET=gallery